<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="emgsignal.v3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".Database.Add_Sensor_Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Database.Add_User_Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".BLE.DeviceListActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".SavedDataProcessing.ListFilesActivity" />
        <activity android:name=".SavedDataProcessing.ListFolderActivity" />
        <activity android:name=".SavedDataProcessing.SaveData" />
        <activity
            android:name=".SavedDataProcessing.Loadgraph"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".UartService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>